$positions: (relative, absolute, fixed, static);

@each $position in $positions {
  .#{$position} {
    position: $position !important;
  }

  @each $screen, $size in $breakpoints {
    @media (min-width: $size) {
      .#{$screen}-#{$position} {
        position: $position !important;
      }
    }
  }
}
