$input-background-color: $gray-2;
$placeholder-opacity: .4;
$input-width: 200px;
$input-border-radius: 12px;

.g-input-icon {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $input-background-color;
	border-radius: $input-border-radius;
	width: 36px;
	height: 36px;
	transition: all .25s ease;
	color: inherit;
}

.g-label {
	font-size: .75rem;
	margin-left: 10px;
	margin-bottom: 2px;
}

.g-input {
	border: 2px solid transparent;
	background: $input-background-color;
	color: $font-color;
	border-radius: $input-border-radius;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	padding: 7px 13px 7px 10px;
	width: $input-width;
	height: 36px;

	&::placeholder {
		opacity: $placeholder-opacity;
	}

	&:focus, &:focus-visible, &:focus-within {
		outline: none;
	}

	&:focus {
		padding-left: 15px;
	}

	@each $color, $value in $colors {
		&.#{$color} {
			&:active, &:focus {
				border-bottom-color: $value;
			}

			&:focus ~ .g-input-icon {
				color: $value;
			}
		}
	}
}
