.g-select {
    padding: 7px 30px 7px 13px;
    border: 2px solid transparent;
    border-radius: 12px;
    background-color: $gray-2;
    color: $font-color;

    @each $color, $value in $colors {
		&.#{$color} {
			border-bottom-color: $value;
		}
	}

    option {
        background-color: white;
        color: $font-color;
    }
}