.g-table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  min-width: 500px;

  @each $color, $value in $colors {
    &.#{$color} {
      thead {
        background-color: $value;
        color: get-contrast($value);
      }
      

      &.flat {
        :not(thead) {
          tr {
            background-color: tint($value, 85%) !important;
          }
        }
      }
    }
  }

  thead {
    background-color: $gray-2;

    tr {
      th:first-child {
        border-top-left-radius: 12px;
      }

      th:last-child {
        border-top-right-radius: 12px;
      }
    }
  }

  th {
    padding: 10px 12px;
    font-size: 0.8rem;
  }

  td {
    padding: 10px 12px;
    font-size: 0.8rem;
  }

  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 12px;
  }

  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 12px;
  }

  &.striped {
    tr:nth-child(2n) {
      background-color: $gray-2;
    }
  }

  &.bordered {
    tr {
      td {
        border: 1px dashed $gray-1;
      }
    }
  }


  &.square {
    tr:last-of-type td:first-of-type {
      border-bottom-left-radius: 0;
    }
  
    tr:last-of-type td:last-of-type {
      border-bottom-right-radius: 0;
    }

    tr {
      th:first-child {
        border-top-left-radius: 0;
      }

      th:last-child {
        border-top-right-radius: 0;
      }
    }
  }
}
