$white: rgb(255, 255, 255);
$primary: rgb(26, 92, 255);
$secondary: rgb(125, 51, 255);
$success: rgb(70, 201, 58);
$warning: rgb(255, 186, 0);
$info: rgb(0, 175, 240);
$danger: rgb(255, 71, 87);
$dark: rgb(0, 0, 0);
$gray-1: rgb(230, 233, 234);
$gray-2: rgb(244, 247, 248);
$gray-3: rgb(249, 252, 253);
$font-color: rgb(44, 62, 80);
$body-background: $white;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "dark": $dark,
);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$breakpoints: (
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "xxl": $xxl,
);

$default-border-radius: 12px;
